.card{
  color: green;
}

.menuButtons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gridSUI{
  margin-left: 1em;
}

.gridParent{
  display: flex;
  justify-content: center;

}